.container{
    padding: 5rem 0;
    display: flex;
    background-color: #fff;
    align-items: center;
    gap: 5%;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ladyPic{
    width: 500px;
}
.cardComponent{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
}
.sm-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sm-card h3{
    color: #ffaf35;
}
@media screen and (max-width:769px) {
    .container{
        flex-direction: column;
    }
    .cardComponent{
        grid-template-columns: auto;
    }
}